@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Poppins:wght@300;400;600;700&display=swap');

:root {
  --color-background: #1A3046;
  --color-foreground: #1A3046;

  --color-card: #1a2128;

  /*  Primary Brand */
  --color-primary: #4a90e2;
  --color-primary-foreground: #ffffff;

  /*  Secondary */
  --color-secondary: #2c3640;
  --color-secondary-foreground: #9fb3c8;

  /*  Borders */
  --color-border: #2a3138;

  --color-highlight: #f5a623;

  /*  Radius */
  --radius: 0.75rem;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    color: white;
    font-family: 'Inter', 'sans-serif', 'Poppins';
  }

  .font-serif {
    font-family: "Playfair Display", serif;
  }
}